# Node.js specific
node_modules/
.env
.env.*.local
.env.local
npm-debug.log*
yarn-debug.log*
.pnpm-debug.log*
.nyc_output
coverage/
dist/
build/
.cache/
.parcel-cache/
.next/
out/
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.eslintcache
.stylelintcache
.vscode-test
.serverless/
.dynamodb/
.fusebox/
.svelte-kit/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
*.tgz